[user]
	email = santiago.alzate3@gmail.com
	name = Snatiolam
[alias]
	tree = log --graph --decorate --oneline --all
	st = status
	ci = commit
	co = checkout
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
